.overview_panel img {
  width: 100%;
  border-radius: 4px;
}

.overview_panel {
  padding: 20px;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  background-color: var(--background-color-light);
}

.overview_name {
  text-align: center;
  font-size: 32px;
  margin-bottom: 0;
}

.overview_region {
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  margin-top: 4px;
  margin-bottom: 24px;
}

.overview_numbers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  text-align: center;
}

.overview_label {
  font-size: 14px;
  color: var(--text-color-secondary);
}

.detail_panel {
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  background-color: var(--background-color-light);
}

.detail_panel_heading {
  padding: 20px;
  margin-bottom: 0;
}

.detail_panel_row {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid #e0e0e0;
}

.detail_panel_label {
  color: var(--text-color-secondary);
}

.detail_panel_borders {
  padding: 20px;
}

.detail_panel_borders_label {
  color: var(--text-color-secondary);
  margin-bottom: 20px;
}

.detail_panel_borders_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 24px;
}

.detail_panel_borders_country img {
  width: 100%;
  border-radius: 4px;
}

.detail_panel_borders_country {
  text-align: center;
}
